* {
	margin: 0px;
}

body {
	background: #353638;
}

.timer {
	/*display: none;*/
	position: relative;
	display: inline-block;
	width: 225px;
	height: 120px;
	background: #696969;
	margin-right: 10%;
	margin: 5%;
}

.timer-plus {
	position: relative;
	display: inline-block;
	width: 225px;
	height: 120px;
	background: #696969;
	margin-right: 10%;
	margin: 5%;
}

.MyForm {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 22px;
}

.time {
	width: 35%;
	height: 18px;
	font-size: 20px;
	color: #9E9E9E;
	background: #696969;
	margin-left: 30%;
	margin-top: 10%;
	border: none; 
	outline: none;
}

.line {
	margin-top: 10%;
}

.mini-timer > p > *  {
	background: #696969;
	border: none; 
	outline: none;
}

.triangle {
	margin-top: 10px;
	margin-left: 30%;
	cursor: pointer;
}

.pause {
	margin-left: -15%;
	visibility: hidden;
	cursor: pointer;	
}

.square {
	margin-left: 15%;
	cursor: pointer;
}

.square-white {
	margin-left: -16%;
	visibility: hidden;	
	cursor: pointer;
}

#plus-button {
	background: #696969;
	border: none; 
	outline: none;
	cursor: pointer;
	/*padding: 23%;*/
}

#plus {
	font-size: 32px;
	/*padding: 33%;*/
	color: #FFFFFF;
	margin-top: 400%;
	margin-left: 500%;
	/*margin-bottom: 400%;*/
}

.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em; 
}

h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(1em + 5vw);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container {
        position: fixed;
        top: 0;
    }

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
}

.et-hero-tab:hover {
            color:white;
      background: #2bc6d8;
            transition: all 0.5s ease;
    }

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}